body {
    margin: 0;
    padding: 0;
    font-family: "NanumSquare","맑은 고딕", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
/* 1번영역 베너 */
.header {
    background-color: #ffe9c985;
    padding: 0px;
    text-align: center;
    margin: 0;
}
.header-image {
    position: relative;
    width: 100%;
    height: 615px; /* 원하는 높이로 설정 */
    background-image: url('main-picture.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
}
.overlay-text1 {
    position: absolute;
    top: 80%; 
    left: 20%; 
    color: #5a3716; 
    transform: translate(-50%, -50%);
    font-size: 48px; 
    text-align: left; 
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px  1px 0 #fff,
        1px  1px 0 #fff;
}
/* 2번영역 베너 설명 */
.info2 {
    background-color: #ffd8d8;
    text-align: center;
    padding: 0px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align : left;
    opacity: 0; 
    transition: opacity 4s; 
}
/* 2번영역 */
.main-content {
    background-color: #ffffff;
    padding: 0px;
    text-align: right;
}
.main-content-image {
    position: relative;
    width: 100%;
    height: 615px; 
    background-image: url('second-div.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0; 
    transition: opacity 4s; 
}
.overlay-text2 {
    position: absolute;
    top: 10%; 
    right: 20%; 
    color: #5a3716; 
    font-size: 48px; 
    text-align: left; 
    text-shadow:
        -1px -1px 0 #fff,  
        1px -1px 0 #fff,
        -1px  1px 0 #fff,
        1px  1px 0 #fff;
    opacity: 0; 
    transition: opacity 6s; 
}
/* 3번영역 베너 설명 */
.info3 {
    background-color: #ffd8d8;
    text-align: center;
    padding: 0px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align : left;
    opacity: 0; 
    transition: opacity 4s; 
}
/* 3번영역 베너 */
.sub-content {
    background-color: #aa7f7f;
    padding: 0px;
    text-align: right;
}
.sub-content-image {
    position: relative;
    width: 100%;
    height: 615px;
    background-image: url('beautiful_face_esthetic_treatment.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0; 
    transition: opacity 4s; 
}
.overlay-text3 {
    position: absolute;
    top: 10%; 
    right: 20%; 
    color: #5a3716; 
    font-size: 48px; 
    text-align: left; 
    text-shadow:
        -1px -1px 0 #fff,  
        1px -1px 0 #fff,
        -1px  1px 0 #fff,
        1px  1px 0 #fff;
    opacity: 0; 
    transition: opacity 6s; 
}
/* 4번영역 회사정보 */
.info {
    background-color: #ffd8d8;
    text-align: center;
    padding: 0px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align : left;
}
.footer {
    background-color: #919191;
    text-align: center;
    padding: 0px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;

    
}
/* 플립 카드 시작 */
.flip-card {
    background-color: transparent;
    border: none;
    width: 300px;
    height: 220px;
    perspective: 1000px;
    position: absolute; /* 또는 fixed */
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%); /* 요소의 중심을 정확히 페이지 중앙에 맞춤 */
    /* perspective : 원근법 
    3D effect를 원하지 않는다면 지우세요 */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 160%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  /* preserve-3d : 변환된 자식 요소가 3D 변환을 유지하도록 합니다. */
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
   /* Y축으로 180도 flip되게 만들어줍니다 */
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.flip-card-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 3px;
    border-radius: 5%;
    background-color: white;
    color: black;
}

.flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    background-color: #71D3C2;
    border: solid black 3px;
    color: white;
    transform: rotateY(180deg);
}

.Introduce-Card-Img {
    width: 65%;
    margin-bottom: 15%;
}
/* 플립 카드 끝 */
/* 인라인 메뉴 */
/* 버튼 기본 스타일 */
button {
    background-color: #f4a8f7; /* 녹색 배경 */
    color: white; /* 텍스트 색상 */
    padding: 14px 20px; /* 상하 좌우 패딩 */
    margin: 8px 0; /* 상하 마진 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
}
/* 마우스 오버 시 버튼 스타일 */
button:hover {
    background-color: #fad2ff; /* 오버 시 색상 변경 */
}
/* .container 내의 div 요소에 적용되는 스타일을 재정의할 필요가 있을 때 */
.container div {
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff; /* 배경 색상 변경 */
    border-radius: 5px;
    border: 1px solid #ccc; /* 테두리 색상 변경 */
}
/* 숨겨진 컨텐츠 스타일 */
.hidden {
    display: none;
}
